@import "../../styles/variables";

.list,
.grid {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: $gutter;
}
