@import "../../../styles/variables";

.item {
  margin-bottom: $gutter;
  padding: $gutter;
  background: #fff;
  border-radius: 0.5rem;
  &__image {
    width: 145px;
    display: block;
    margin: 0 auto $gutter;
    img {
      display: block;
      width: 100%;
      border-radius: 100%;
    }
  }
  &__info {
    text-align: center;
    a {
      color: $text-primary;
      display: block;
      font-size: 1.17em;
      margin-bottom: 1em;
      text-decoration: none;
      font-weight: 600;
    }
    p:last-child {
      margin-bottom: $gutter;
      padding-bottom: $gutter;
      border-bottom: 1px solid $background-gray;
    }
  }
  &__repos {
    margin-right: -$gutter / 2;
  }
  &__repo {
    margin-bottom: $gutter / 2;
    margin-right: $gutter / 2;
    background-color: $background-gray;
    border-radius: 0.5rem;
    padding: ($gutter / 2) $gutter;
    display: inline-block;    
  }
}

@media only screen and (min-width: $screen__s) {
  .item {
    [class^="UserList_list"] > & {
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      .item__image {
        margin-right: $gutter;
        margin-bottom: 0;
        padding-right: $gutter;
        display: flex;
        align-items: center;
        border-right: 1px solid $background-gray;
      }
      .item__info {
        margin-right: $gutter;
        padding-right: $gutter;
        flex: 2;
        border-right: 1px solid $background-gray;
        text-align: left;
        p:last-child {
          border-bottom: none;
        }
      }
      .item__repos {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
      }
      .item__repo {
        margin-right: 0;
      }
    }
    [class^="UserList_grid"] > & {
      // margin-bottom: 0;
    }
  }
}