@import "../../../styles/variables";

.list {
  list-style: none;
}

.listMode,
.gridMode {
  padding: 0;
  margin-bottom: 0;
}
.gridMode {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: $gutter;
}