*:focus-visible {
    border-radius: 0.5rem;
    outline: $theme-primary auto 1px;
}

.container {
    padding: $gutter;
    background: #ececec;
}

@media screen and (min-width: $screen__m) {
    .container {
        max-width: 768px;
        margin: $gutter auto;
        padding: $gutter;
        border-radius: 0.5rem;
    }
}