input {
    min-height: $input-height;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid $gray;
    padding: 0 $gutter;
    flex: 1;
    min-width: $gutter;
    font-size: 1em;
}

.textField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__withButton {
        position: relative;
        button:last-child {
            position: absolute;
            right: 0;
        }
    }
}