// Colors
$theme-primary: #7127fb;
$text-primary: #000;
$background-gray: #ededed;
$gray: #d6d6d6;

// Responsive
$screen__xs: 480px;
$screen__s: 600px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1200px;

// Spacing
$gutter: 1rem;

// Forms
$input-height: 36px;

// Transition
$theme-transition: 200ms ease-in-out;